extends admin
block div
    div.am-panel.am-panel-primary.am-margin
        div.am-panel-hd
            h3.am-panel-title User List
        div.am-panel-bd
            a.am-btn.am-btn-primary(href="/admin/users/add") 
                i.am-icon.am-icon-plus &nbsp;
                | Add
        table.am-table
            thead
                tr
                    th Id
                    th Username
                    th Operation
            tbody
                each item in users
                    tr
                        td= item.id
                        td= item.username
                        td
                            if item.username != "root"
                                button(href="/admin/users/del/#{item.id}",type="button").del_user_btn.am-btn.am-btn-danger.am-btn-xs Del


